:root {
    --open-sans:"Open Sans", sans-serif;       /* шрифт */
    --nunito-sans: "Nunito Sans", sans-serif;  /* шрифт */

    --accent-light: #FBB731;  /* цвет кнопки */
    --accent-dark: #F37335;   /* цвет кнопки */
                                
    --dark:#443737;           /* цвет текста для кнопки */
    --light:#FFFFFF;          /* цвет текста для кнопки */                  
    
    --light-rgb:255, 255, 255;
    --dark-rgb:68, 55, 55;
    --solight-rgb:#DEDEDE;
    --footer-rgb:#1E2F40;
} 

body{
    font-family: var(--open-sans)
}

.logo{
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.container{
    width:100%;
    max-width:1182px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;

}
/*Header*/

.header{
    border-bottom: 1px solid #dedede
}

.header-wrapper{
    display: flex; /* слова в ряд*/
    align-items:center; /*расположение по центру*/
    gap: 196px;                /* свойство элемента между ячейками*/
    padding-top:26px;
    padding-bottom: 26px;
}

.nav {
    flex-grow: 1;
    display:flex;
    gap: 47px;

}
.nav-link{
    color:var(--dark);
    text-decoration:none;
    font-size:20px;
    font-weight:600;
}

.nav-link::after{       /*свойство желтой линии под текстом*/
    content:'';
    display:block;
    width: 100%;
    height:3px;
    background-color: transparent; /*прозрачная линия*/
    border-radius:1.5px;
}
.nav-link:hover:after{   /*при наведении курсором горит линия (псевдоэлемент)*/
    background-color: var(--accent-light);
}

.cart{
    display: flex;
    align-items: center;
    gap:10px;
    color:var(--dark);
    text-decoration:none;
    font-size:15px;
    font-weight:700;
    position: relative;
}

.cart::before{  /*корзина*/
    content:'';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    font-size: 10px;
    color: var(--light);
    background-color: var(--accent-dark);
    border-radius: 100%;
    position:absolute;
    left: 17px;
    bottom:0;
}

/*hero  где картинка с бургером*/
.hero{
    background-image: url(../images/hero.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    text-align:center;
    padding-top: 142px;
    padding-bottom: 142px;
}

.breadcrumbs {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:16px;
    list-style-type:none;
    padding-left:0;
    color:rgba(var(--light-rgb), .5);
    font-size:15px;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumbs-item{
    position:relative;
}

.breadcrumbs-item:not(:last-child)::after{
    content:'/';
    position:absolute;
    right:-12px;
}

.breadcrumbs-link{
    color:rgba(var(--light-rgb), .5);
    text-decoration:none;
}

.breadcrumbs-link:hover{
    color:var(--accent-light);
}

.hero-title{
    color: var(--light);
    font-family: var(--nunito-sans);
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 20px;
}

.hero-description{
    width: 320px;
    margin: 0 auto;
    color:rgba(var(--light-rgb), .8);
    font-size:15px;
    line-height: 160%;
}

.banner{
    margin-top:140px;
}

.banner-wrapper{
    padding: 100px;
    background-image: url(../images/burger.svg);
    display:block;
    background-repeat: no-repeat;
}


.banner-title{
    color:var(--light);
    font-family:var(--nunito-sans) ;
    font-weight:900;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    margin-top:0px;
    margin-bottom: 11px;
}


.banner-title span{
    display:block;
    font-family: var(--open-sans);
    font-weight: 600;
    font-size: 14px;
    line-height: 128%;
    text-align: center;
    text-transform: uppercase;
    color:rgba(var(--light-rgb), 1);
    max-width: 95px;
    margin-bottom:4px;
    padding: 5px 0;
    border-radius:14px;
    background-color: var(--accent-dark);
}




.banner-description{
    max-width:328px;
    margin-top:0;
    margin-bottom:13px;
    font-family: var(--open-sans);
    color:rgba(var(--light-rgb), 0.8);
    font-weight: 400;
    font-size: 15px;
    font-style:normal;
    line-height: 160%;
}

.banner-btn{
    background-color: var(--accent-light);
    Width:170px;
    height: 58px;
    border-radius:5px;
    text-transform: uppercase;
    font-size:14px;
    font-weight: 700;
    font-family: var(--nunito-sans);
    color:rgba(var(--dark-rgb), 1);
    cursor: pointer;
    border:var(--accent-light);
}

/*Menu*/

.menu-header{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:100px;
    margin-bottom:34px;
    
}

.menu-title{
    margin-top:0;
    margin-bottom:0;
    font-family: var(--nunito-sans);
    font-weight:700px;
    font-size:44px;
    line-height: 56px;
    text-transform: uppercase;
    color:rgba(var(--dark-rgb), 1)
}


select{
    width: 279px;
    height:44px;
    border:1px solid var(--solight-rgb);
    background: #FFFFFF;
    font-family: var(--open-sans);
    font-weight:400px;
    letter-spacing:0px;
    border-radius: 22px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/menu/strelka.svg);
    background-repeat:no-repeat;
    background-position: right 30px center;
    background-size: 13px 8px;
}

option{
    color:rgba(var(--dark-rgb), 1);
    font-family:var(--open-sans);
    font-size: 15px;
    font-style:normal;
    font-weight:400;
    line-height:160%;
}

.menu-box {
    display:grid;
    grid-template-columns: repeat(3, 1fr);  /* количество ячеек; ширина far пропорции */ 
    grid-template-rows: auto; /* высота строк */
    gap: 50px 20px;
}

.menu-thumb {
    width:100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.menu-thumb img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}


.menu-name{
    text-align: center;
    display: grid;
    margin-top:20px;
    margin-bottom: auto;
    color:rgba(var(--dark-rgb), 1);
    font-family:var(--nunito-sans);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.menu-name222{
    text-align: center;
    display: grid;
    text-align:right 10px;
    margin-top:20px;
    margin-bottom: auto;
    color:rgba(var(--dark-rgb), 1);
    font-family:var(--nunito-sans);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.menu-price{
    display: grid;
    text-align: center;
    text-align: top 10px;
    color:rgba(var(--dark-rgb), 0.5);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 5px;
    margin-bottom: 26px;
}

.menu-btn{
    display: block;
    margin:0 auto;
    position: relative;
    z-index: 10;
    width: 152px;
    height: 38px;
    border-radius: 5px;
    font-family: var(--nunito-sans);
    text-transform: uppercase;
    border:none;
    background-color: var(--accent-light);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    flex-shrink: 0;
    font-weight:700;
    font-weight:normal;
    color:var((--dark-rgb),1);
    padding-top: 10.5px;
    padding-bottom: 10px;
    padding-left:52px;
    padding-right:30px;
    background-image:url(../images/menu/telega.svg);
    background-repeat:no-repeat;
    background-position: left 29px center;
}


/**********************************ДОПОЛНИТЕЛЬНО*******************************************/



.menu-name2{
    text-align: center;
    display: grid;
    margin-top:28px;
    margin-bottom: auto;
    color:rgba(var(--dark-rgb), 1);
    font-family:var(--nunito-sans);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
}

.menu-price2{
    display: grid;
    text-align: center;
    margin-top:10px;
    color:rgba(var(--dark-rgb), 0.5);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 5px;
    margin-bottom: 27px;
}

.menu-btn2{
    display: block;
    margin:0 auto;
    margin-top: 0px;
    margin-bottom: 140px;
    position: relative;
    top:10px;
    z-index: 10;
    width: 152px;
    height: 38px;
    border-radius: 5px;
    font-family: var(--nunito-sans);
    text-transform: uppercase;
    border:none;
    background-color: var(--accent-light);
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    flex-shrink: 0;
    font-weight:700;
    font-weight:normal;
    color:var((--dark-rgb),1);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left:52px;
    padding-right:30px;
    background-image:url(../images/menu/telega.svg);
    background-repeat:no-repeat;
    background-position: left 29px center;
}
/**************************************НИЗ*******************************************/
.footer{
    padding-top: 30px;
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:var(--footer-rgb,1);
    /*********/
    padding-bottom:120px;


}
  
.footer-wrapper{
   position: relative;
   top:85px;
   left:-10px;
   padding-left:10px;
}
  
.footer-logo{

}
  
.footer-title{
    display: block;
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; /* 190% */
    text-transform: uppercase;
    justify-content: space-between;
}
  
.footer-nav{
    display: flex;
    flex-direction:column;
    padding-top:-10px;
    margin-bottom:-10px;
    line-height: 31px;
    position: relative;
    top:-10px;
    letter-spacing:0px;
    /******************/
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    font-family: var(--open-sans);
    color:rgba(var(--light-rgb), 0.9)
}


  
.footer-item{
    display: inline-block;
    margin-top:-3px;
    color: var(--solight-rgb);
    /*************/
 
}

.footer-list{
    display: flex;
    flex-direction:column;
    position: relative;
    padding-left: 0;
    padding-top:10px;
    margin-bottom:0;
    top:-10px;
    line-height: 22px;
  }
  
.footer-tel1{
   display: flex;
   flex-direction: row;
   position: relative; 
   top: -18px;
   left:138px;
   text-decoration:none;
   /***/
   font-family: var(--nunito-sans);
   color:var(--accent-light);
   font-size: 20px;
   font-style: normal;
   font-weight: 800;
   line-height: 38px; /* 190% */
   text-transform: uppercase;
}
.footer-tel2{
   display: flex;
   flex-direction: row;
   position: relative; 
   top: -18px;
   left:138px;
   text-decoration:none;
      /***/
   font-family: var(--nunito-sans);
   color:var(--accent-light);
   font-size: 20px;
   font-style: normal;
   font-weight: 800;
   line-height: 38px; /* 190% */
   text-transform: uppercase;
}



.footer-item:nth-last-child(3) {
    margin-top:-10px;
    margin-left:200px;
    margin-right:100px;
    
}

.footer-item:nth-child(2) {
    margin-right:155px;

}



li {
  list-style-type: none; /* Убираем маркеры */

}

.footer-wrapper img{
    background-repeat: no-repeat;
    background-size:100% auto;
 
}

a {
    color: var(--light-rgb),0.8;
    text-decoration: none;

}

a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

.gg{
    position: absolute;
    margin-top:10px;
    top:80px;
    font-family: var(--open-sans);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color:var(--light-rgb,0.9)
}

.ddd{
    position: absolute;
    color:var(--light);
    font-family: var(--open-sans);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    top:100px;

}

.footer-item:nth-last-of-type(2){
    color:var(--light);
    font-family: var(--open-sans);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.gv{
   font-family:var(--open-sans);
   color:var(--solight-rgb,0.9);
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}